@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

:root {
  --primary-color: #05386b;
  --dark-green-color: #5cdb95;
  --light-color: #edf5e1;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: var(--light-color);
  color: var(--primary-color);
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
}

hr {
  margin: 2rem 0;
}

/* Container */
.container {
  padding: 1.2rem;
  border: 1px solid var(--dark-green-color);
}

.container-center {
  max-width: 45vw;
  margin: auto;
}

/* links */

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.link-primary {
  font-weight: bold;
  background-color: var(--dark-green-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.link-primary:hover {
  background-color: var(--light-color);
  font-weight: bold;
}

.link-secondary {
  color: var(--primary-color);
  border: 1px solid var(--dark-green-color);
}

/* lists */

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0 0.5rem;
}

/* navigation */
.navigation {
  color: var(--primary-color);
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: 700;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: var(--primary-color);
}

.navigation .link-active {
  font-weight: bold;
  border: 1px solid var(--dark-green-color);
}

/* header  */
.hero {
  padding: 2rem;
}

.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  color: var(--dark-green-color);
  text-align: center;
  font-size: 5rem;
  padding-top: 1rem;
  font-weight: 300;
  font-family: "Sacramento", cursive;
  margin-bottom: 0;
}
.hero .intro p {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  padding-top: 0;
  font-family: "Montserrat", sans-serif;
}
.coffee-with-me {
  text-align: center;
  text-transform: uppercase;
}

.btn {
  border-radius: 5rem;
}

.btn:hover {
  background-color: var(--dark-green-color);
  border: 2px solid var(--primary-color);
  font-weight: bold;
}

/* section */

section {
  padding: 2rem;
}

section > h1 {
  text-align: center;
}

.ow {
  background-color: var(--light-color);
}

/* footer */

.footer {
  color: var(--primary-color);
  padding: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  border: 3px solid var(--dark-green-color);
}

.footer .footer-header {
  font-weight: bold;
  font-size: 2rem;
}

.footer .link {
  color: var(--primary-color);
}

.footer ul {
  padding-inline-start: 0;
}

.footer .social-icons {
  font-size: 2rem;
}

.footer p {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/*  additional changes */
.border {
  border: 1px solid var(--primary-color);
  padding: 2rem;
  margin-bottom: 2rem;
}

.name {
  font-size: 1rem;
}

/* skills */
.skills {
  padding-bottom: 20px;
}

.skills > i {
  font-size: 4rem;
  padding: 20px 5px;
}

.skills p {
  font-size: 1.5rem;
  color: #000;
}
.skill-name {
  font-weight: bold;
}
